<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="text-dark d-flex justify-content-center align-items-center">
        <p class="">
            Check my 
            <a href="https://github.com/oscarchavez99" target="_blank">GitHub</a>
            for more code projects
        </p>
    </div>
</footer>