<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="bg-dark text-light d-flex justify-content-center align-items-center">
        <p class="">
            Check my code projects on
            <a href="https://github.com/oscarchavez99" target="_blank">GitHub</a>
        </p>
    </div>
</footer>